.custom-html-wrap {
    border: 1px solid black;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1.125em;
}

.custom-rating-title .sv_q_num {
    display: none;
}
.sv_q_num {
    display: none;
}
.custom-age-input:after {
    content: "age";
}

.sv_progress {
    margin-bottom: 1.5em;
}

.custom-matrix-root {
    border-collapse: initial !important;

    thead {
        td {
            width: 50%;
        }
        th {
            text-align: center !important;
        }
    }

    tbody {
        td {
            &:first-child {
                max-width: 3rem;
            }
            &:not(:first-child) {
                text-align: center !important;
                min-width: 0em !important;
                /* vertical-align: middle!important; */
                /* vertical-align: -webkit-baseline-middle!important; */
            }

            .custom-matrix-label {
                width: 66px;
                border: 1px solid #1c9980;
                color: #179d82;
                height: 36px;
                border-radius: 3px;
                margin: 0 8px 0 0;
                line-height: 36px;
                text-align: center;
                vertical-align: top;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                
                input {
                    display: none;
                }

                span.circle {
                    color: #229981;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    &:before{
                        content: "\f00c";
                    }
                }

                &.checked {
                    color: #fff;
                    background-color: #179d82;

                    span.circle {
                        color: #fff;
                    }
                }
            } 
        }
    }
}

@media (max-width: 600px) {
    .custom-matrix-root td {
        margin-top: 0.1rem;
    }
    .custom-matrix-root td:after {
        vertical-align: -webkit-baseline-middle !important;
        /* vertical-align: middle; */
    }
    .custom-matrix-label {
        float: left;
        margin: 0 8px 0 0;
    }
    .custom-matrix-root td:first-child {
        max-width: none;
    }
    .custom-matrix-root td:not(:first-child) {
        text-align: left !important;
        /* max-width: none; */
    }
    .custom-matrix-root td:last-child {
        margin-bottom: 1rem;
        /* vertical-align: middle; */
    }
}
